@{
    ViewData["Title"] = "Home Page";
}

<div style="padding: 20px;">
    <form method="POST" action="/api/createbillingportal">
        <button type="submit">Manage billing</button>
    </form>
</div>
