<body>
    <div class="container">
        <h1>Image Recognition Demo</h1>
        <form>
            <h2>Upload Image</h2>
            <input id="photo" type="file" name="photo" />
            <br />
            <img src="" id="preview">
            <br />
            <input id="submit" type="button" value="Submit" name="Predict" />
            <input id="submit2" type="button" value="ImageToText" name="ImageToText" />
            <br />
            <p id="link"></p>
            <br />
            <p id="link2"></p>
        </form>
    </div>
</body>

@section scripts {

    <script type="text/javascript">
        //Predict
        $(document).ready(function () {
            $('#submit').click(function () {
                var data = new FormData();
                var imageFile = document.getElementById("photo").files[0];
                data.append('photo', imageFile);
                $.ajax({
                    url: '/api/clarifai',
                    processData: false,
                    contentType: false,
                    data: data,
                    method: "POST",
                    dataType: "json",
                }).done(function (result) {
                    $('#link').text(result);
                }).fail(function (a, b, c) {
                    console.log(a, b, c);
                });
            });
        });
        //Image to text
        $(document).ready(function () {
            $('#submit2').click(function () {
                var data = new FormData();
                var imageFile = document.getElementById("photo").files[0];
                data.append('photo', imageFile);
                $.ajax({
                    url: '/api/computervision',
                    processData: false,
                    contentType: false,
                    data: data,
                    method: "POST",
                    dataType: "json",
                }).done(function (result) {
                    $('#link2').text(result);
                }).fail(function (a, b, c) {
                    console.log(a, b, c);
                });
            });
        });
        //Image preview after upload
        var fileTag = document.getElementById("photo"),
            preview = document.getElementById("preview");

        fileTag.addEventListener("change", function () {
            changeImage(this);
        });

        function changeImage(input) {
            var reader;

            if (input.files && input.files[0]) {
                reader = new FileReader();

                reader.onload = function (e) {
                    preview.setAttribute('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

}