<div class="container">
        <h1>Image Recognition Demo</h1>
        <form>
            <h2>Upload Image</h2>
            <input id="photo" type="file" name="photo" accept="image/*" />
            <br />
            <img src="" id="preview">
            <br />
            <input id="submit" type="button" value="Submit" name="Predict" />
            <input id="submit2" type="button" value="ImageToText" name="ImageToText" />
            <br />
            <p id="link"></p>
            <br />
            <p id="link2"></p>
        </form>
</div>
<br/>
    <div id="displayContainer">
    <div id="display">
        <span id="loader_text"></span>
        <img src="~/images/loading.gif" id="loader" />
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        
        //Predict
        $(document).ready(function () {
            $('#display').hide();
            $('#submit').click(function () {
                $('#display').show();
                $('#loader_text').text("Checking image");
                var data = new FormData();
                var imageFile = document.getElementById("photo").files[0];
                data.append('photo', imageFile);
                $.ajax({
                    url: '/api/clarifai',
                    processData: false,
                    contentType: false,
                    data: data,
                    method: "POST",
                    dataType: "json",
                }).done(function (result) {
                    $('#display').hide();
                    $('#link').text(result);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    $('#display').hide();
                    console.log(jqXHR, textStatus, errorThrow);
                });
            });
            //Image to text
            $('#submit2').click(function () {
                $('#display').show();
                $('#loader_text').text("Converting to text");
                var data = new FormData();
                var imageFile = document.getElementById("photo").files[0];
                data.append('photo', imageFile);
                $.ajax({
                    url: '/api/computervision',
                    processData: false,
                    contentType: false,
                    data: data,
                    method: "POST",
                    dataType: "json",
                }).done(function (result) {
                    $('#display').hide();
                    console.log(result);

                    var lines = result.analyzeResult.readResults[0].lines;
                    console.log(lines);

                    var contentStr = "";
                    lines.forEach(line => {
                        contentStr += line.text + "\<br>";
                    });
                    var p = document.getElementById("link2");
                    p.innerHTML = contentStr;
                }).fail(function (jqXHR, textStatus, errorThrow) {
                    $('#display').hide();
                    console.log(jqXHR, textStatus, errorThrow);
                });
            });
        });
       
        //Image preview after upload
        var fileTag = document.getElementById("photo"),
            preview = document.getElementById("preview");

        fileTag.addEventListener("change", function () {
            changeImage(this);
        });

        function changeImage(input) {
            var reader;

            if (input.files && input.files[0]) {
                reader = new FileReader();

                reader.onload = function (e) {
                    preview.setAttribute('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

}